<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="jumbotron text-center">
                <h1>Mission to Mars</h1>
                <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrap New Data!</a></p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="rounded card border border-dark" style="background-color: lightblue">
                    <div class="card-body" style="padding: 20px">
                        <h2 class="card-title"><b>Latest Mars News</b></h2>
                        <h3>{{ mars.news_title }}</h3>
                        <p class="card-text" style="font-size:larger">{{ mars.news_p }}</p>
                        <hr>
                        <h2><b>Featured Mars Image</b></h2>
                        <img src="{{ mars.featured_image_url}}" alt="Mars Featured Image"
                            style='height: 100%; width: 100%; object-fit: contain' class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="rounded card border border-dark" style="background-color: lightblue">
                    <div class="card-body" style="padding: 20px">
                        <h2 class="card-title"><b>Current Weather on Mars</b></h2>
                        <p class="card-text" style="font-size:larger">{{ mars.mars_weather }}</p>
                        <hr>
                        <h2><b>Mars Facts</b></h2>
                        <table border="2" class="dataframe">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Equatorial Diameter:</th>
                                    <td>6,792 km</td>
                                </tr>
                                <tr>
                                    <th>Polar Diameter:</th>
                                    <td>6,752 km</td>
                                </tr>
                                <tr>
                                    <th>Mass:</th>
                                    <td>6.39 × 10^23 kg (0.11 Earths)</td>
                                </tr>
                                <tr>
                                    <th>Moons:</th>
                                    <td>2 (Phobos &amp; Deimos)</td>
                                </tr>
                                <tr>
                                    <th>Orbit Distance:</th>
                                    <td>227,943,824 km (1.38 AU)</td>
                                </tr>
                                <tr>
                                    <th>Orbit Period:</th>
                                    <td>687 days (1.9 years)</td>
                                </tr>
                                <tr>
                                    <th>Surface Temperature:</th>
                                    <td>-87 to -5 °C</td>
                                </tr>
                                <tr>
                                    <th>First Record:</th>
                                    <td>2nd millennium BC</td>
                                </tr>
                                <tr>
                                    <th>Recorded By:</th>
                                    <td>Egyptian astronomers</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="rounded card border border-dark" style="background-color: lightblue">
                    <div class="card-body" style="padding: 20px">
                        <h2 class="text-center"><b>Mars Hemispheres</b></h2>
                        <hr>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="text-center"><b>{{ mars.hemisphere_image_urls.0.title}}</b></h2>
                                    <a class="img-fluid">
                                        <img src="{{ mars.hemisphere_image_urls.0.img_url}}" alt="..." class="img-fluid"
                                            style='height: 100%; width: 100%; object-fit: contain'>
                                    </a>

                                </div>
                                <div class="col-md-6">
                                    <h2 class="text-center"><b>{{ mars.hemisphere_image_urls.1.title}}</b></h2>
                                    <a class="img-fluid">
                                        <img src="{{ mars.hemisphere_image_urls.1.img_url}}" alt="..." class="img-fluid"
                                            style='height: 100%; width: 100%; object-fit: contain'>
                                    </a>

                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <h2 class="text-center"><b>{{ mars.hemisphere_image_urls.2.title}}</b></h2>
                                    <a class="img-fluid">
                                        <img src="{{ mars.hemisphere_image_urls.2.img_url}}" alt="..." class="img-fluid"
                                            style='height: 100%; width: 100%; object-fit: contain'>
                                    </a>

                                </div>
                                <div class="col-md-6">
                                    <h2 class="text-center"><b>{{ mars.hemisphere_image_urls.3.title}}</b></h2>
                                    <a class="img-fluid">
                                        <img src="{{ mars.hemisphere_image_urls.3.img_url}}" alt="..." class="img-fluid"
                                            style='height: 100%; width: 100%; object-fit: contain'>
                                    </a>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

</body>

</html>